# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 70e13400e72edfc2ad596c9138cea760ae8bf3a162d7f061b627a924a958f8bff1bbc5352651ac8322c785c86007c961f2cdfe30bf2c9639eb0ab670cfe074a0

test:
  secret_key_base: 137d708769fc7b43aca6e66fdab782e5829496c15ec7372985753bd595503c2ccfb017122098c08f99eb9012d318c9484dc26f059629b1b23c605492561c6a08

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
