 <div class="div_grand_parent">
  <%= ff.label :content %>
  <%= ff.text_field :content, class: "form-control" %>
  <div class="div_parent">
    <%= ff.hidden_field :_destroy %>
    <%= link_to "remove_status", "#", class: "remove_fields" %></div>
</div>
